/* RESET */
* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body, html{
    width: 100%;
    height: 100%;
}
.img{
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    cursor: pointer;
}
input {
    border-bottom: solid 1px #707070;
    font-size: 18px;
    width: 100%;
}
input:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}
button {
    cursor: pointer;
    background-color: transparent;
    
}
ul {
    list-style:none;
}
/* CABEÇALHO */
.cabecalho {
    padding: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #00857B;
    color: #fff;
    position: fixed;
    top: 0;
    /* left: 0; */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 1;
}
.cabecalho h2 {
    color: #fff;
    white-space: nowrap;
    position: relative;
    font-family: 'Harlow Solid Regular', sans-serif;
}
.loginBar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.cabecalho h3{
    margin-right: 5px;
    font-weight: 300;
    font-size: 15px;
}
.cabecalho i{
    cursor: pointer;
}
.cabecalho a {
    color: #fff;
}
.link {
    text-decoration: underline;
}
.logo {
    width: 70px;
    padding: 10px;
    height: 70px;
}
.userIcon {
    margin: 0px 5px 4px 0;
}
.material-icons.md-36 { 
    font-size: 36px; 
}
/* MENU */
.menu {
    width: 200px;
    height: 100%;
    background: #00796B;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1;
    color: #fff;
    overflow: hidden;
    border-top: 1px solid #00796B;
}
.menu h2 {
    text-align: center;
    margin: 25px 0;
    font-size: 20px;
}
.menu li {
    margin: 10px 0 0 0;
    padding: 2px 0;
}
.menu li:hover {
    background: #26a69a;
}
.menu li a {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu li a i {
    margin: 0 15px;
}
.menuTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.divMenu {
    width: 80%;
    height: 1px;
    background: #fff;
    text-align: center;
    margin: 15px auto;
}
.icone {
    width: 24px;
    height: 24px;
    text-align: center;
    padding-top: 3px;
}
/* centralizando imagem no fundo da tela de inicio */
.img-meio{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
#perfilModal {
    display: none;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}
.modal-login {
    background-color: #fefefe;
    padding: 6px 20px;
    border: 1px solid #888;
    width: 300px;
    position: absolute;
    right: 0;
    margin: 60px 10px 0 0;
    color: #707070;
    border-radius: 12px;
}
.modal-login h1 {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-login p {
    font-size: 16px;
    margin: 4px 0 10px 0;
}
#aviso {
    color: red;
}
.modal-login input {
    margin-bottom: 15px;
}
.modal-login input[type="submit"] {
    cursor: pointer;
}
/* BOTÕES */
.btn{
    padding: 10px;
    border-radius: 5px;
    background: #00857B;
    color: #fff;
    cursor: pointer;
}
.btn:active {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.btn-cadastro{
    float: right;
    width: 100px;
    font-size: 14px;
    margin: 20px 3px 0 0;
}
.btn-cadastro:active {
    background-color: #036d64;
}
.btn-cadastro:hover {
    background-color: #26a69a;
}
.btn-voltar{
    float: right;
    background: transparent;
    color: #00857b;
    font-weight: bold;
    margin: 20px 3px 0 0;
}
.btn-voltar:hover {
    background-color: #f1f1f1;
}
.btnLogin {
    width: 100%;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    background-color: #00857B;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0;
    margin: 10px 0;
}
.btnMenu {
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px 10px 0 0;
    cursor: pointer;
}
#btnNovoUsuario {
    margin: 0 5% 0 0;
}
/*Modal Sessao Expirada*/
.sessao-expirada {
    max-width: 900px;
    top: 0;
    margin: 100px auto;
    z-index: 1;
    overflow: auto;
    background-color: #fff;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    border-radius: 5px;
}
.container-btn-modal-sessao{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin: 0px 0px 0px 75px;
}
/* loop */
.loop{
    width: 100%;
    height: 100%;
    background-color: #707070;
    opacity: 0.7;
    position: fixed;
    z-index: 7;
    display: none;
    align-items: center;
    justify-content: center;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00a597;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  /* Modal ERRO 500 */ 
.modalErroServer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-aviso-erro{
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal-aviso-erro h1{
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
.modal-aviso-erro h2 {
    padding: 20px;
    text-align: center;
}
.modal-aviso-erro p{
    padding-bottom: 20px;
}
.modal-aviso-erro button{
  padding: 10px;
  border-radius: 5px;
  background: #00857B;
  margin-bottom: 20px;
  color: #FFF;
  font-weight: bold;
}
.cabecalho-modal-server-erro{
  background-color: #00857b;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@media (max-width: 600px){
    #welcome{
        display: none;
    }
    .logo{
        display: none;
    }
}