/* RESET */
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
body, html{
    width: 100%;
    height: 100%;
    background: url(../img/background-login.jpeg);
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
img{
    width: 100%;
}
input{
    background: none;
    border: none;
}
button{
    background: none;
    border: none;
}
/* Formulário de login */
.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box .logo{
 width: 90px;
}
.login{
    width: 310px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
}
.login input{
    border-bottom: 1px solid #707070;
    width: 300px;
    font-size: 18px;
}
.login input:focus{
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}
.btn{
    width: 100px;
    font-size: 14px;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    background-color: #00857B;
    color: #ffffff;
    font-weight: bold;
}
.l1, .l2{
    padding-bottom: 20px;
    color: #707070;
    font-weight: bold;
}
/* Loading de espera */
.loop{
    width: 100%;
    height: 100%;
    background-color: #707070;
    opacity: 0.7;
    position: fixed;
    z-index: 4;
    display: none;
    align-items: center;
    justify-content: center;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00a597;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
} 
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* Estilizando cor da mensagem de retorno ao usuário */
.msg{
    color: red;
}
@media(max-width: 350px){
    .login {
        width: 250px;
        padding: 20px;
    }
    .login input{
        width: 250px;
    }
}