/* Card */
.listaProdutos {
    max-width: 900px;
    margin: 0px 0px 0px 75px;
}
.card{
    display: inline-block;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    box-shadow: 5px 5px 15px 1px #cacaca;
    margin: 20px 0px 0px 10px;
}
.card p{
    margin: 15px 0px 0px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.p-indisp{
    margin: 0px 0px 10px 0px !important;
}
.p-valor-insdp{
    margin: 0px 0px 0px 10px !important;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.card input{
    width: 100px;
    margin-left: 30px;
}
img{
    height: 200px;
    max-height: 200px;
    max-width: 180px;
    background-size: cover;
    margin: 10px;
    border-radius: 5px;
}
.card-conteudo{
    border-radius:5px;
    display: flex;
    flex-direction: column
}
.card-descricao{
    display: flex;
}
.card-btn{
    display: flex;
    margin: 10px 0px 10px 0px;
    background-color: transparent;
    margin-left: 10px;
}
.card img{
    margin: 10px;
    min-width: 180px;
}
.card-btn-btn{
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
}
.card-btn-btn:hover{
    background-color: #f1f1f1;
    border-radius: 5px;
}
.card-valor{
    padding: 10px;
    margin: 5px 5px 0px 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
/* Modal edita card */
.container-modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #707070ad;
    position: fixed;
    z-index: 4;
}
.modal-cadastra-produto{
    display: flex; 
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}
.alinha-codigo{
    display: flex;
    margin: 0px 0px 30px 20px;
}
.alinha-codigo-elemento{
    background-color: #cecece;
    border-radius: 5px;
    padding: 5px;
}
.alinha-codigo-valor{
    margin-top: 5px;
}
.input-modal-nome{
    width: 280px;
    margin-left: 20px;
}
.input-modal-nome-edita{
    width: 460px;
    margin-left: 20px;
}
.input-modal{
    width: 80px;
}
.img-input-cima-baixo{
    display: flex;
}
.img-input-lado-lado{
    display: flex;
    margin: 35px 10px 0px 10px;
}
.img-input-lado-lado-edita{
    display: flex;
    margin: 20px 5px 10px 10px;
}
.img-input-cima-baixo-edita{
    display: flex;
}
.alinha-input-entrada-saida-estoque{
    display: flex;
}
.input-tudo-junto{
    margin: 5px 10px 0px 10px;  
}
.cor-input-entrada{
    color: green;
}
.cor-input-saida{
    color: red;
}
.input-modal-descricao{
    width: 500px;
    margin-left: 15px;
}
.input-modal-descricao-edita{
    width: 680px;
    margin-left: 15px;
}
.alinha{
    display: flex;
    flex-direction: column;
}
.alinha-input-preco-qtde{
    display: flex;
}
.modal-cadastra-produto h1{
    text-align: center;
    padding-top: 10px;
}
.btn-modal{
    display: flex;
    justify-content: flex-end;
    margin: 20px 28px 20px 0px;
}
.btn-c-modal{
    margin-right: 10px;
    padding: 10px;
    color: #00857b;
}
.btn-c-modal:hover {
    background-color: #f1f1f1;
    border-radius: 5px; 
}
.btn-modal-edita{
    display: flex;
    justify-content: flex-end;
    margin: 15px 15px 10px 0px;
}
.btn-menu-produto{
    color: #fff;
}
.paginacao-produtos{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.imgIndisp {
    position: relative;
}
.imgIndisp img {
    opacity: 0.7;
    height: 200px;
    width: 200px;
}
.imgIndisp p {
    color: red;
    position: absolute;
    bottom: 9px;
    background: rgba(255,255,255,0.6);
    width: 100%;
    text-align: center;
}
.alinha-inds-h1{
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0px 0px 10px;
}
.alinha-titulo-produto{
    padding: 60px 0 0 50px;
}
.conteudo-produtos{
    max-width: 800px;
}
/* Modal aviso exclui */
.server-erro{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: #7070709c;
}
.aviso-exclui{
    background-color: white;
    border-radius: 5px;
}
.fundo-cabecalho-modal-exclui{
    padding: 20px;
    margin-bottom: 20px;
    color: black;
    font-weight: normal;
    font-size: 20px;
}
.alinha-btn-confirma{
    float: right;
    margin: 0px 15px 15px 0px;
}
.btn-confirma-delete{
    padding: 10px;
    border-radius: 5px;
    color: #00857b;
    font-weight: 700;
}
.btn-confirma-delete:hover{
    background: #cecece;
}
.tamanho-campo-pesquisa{
    width: 100%;
}
@keyframes mostraNotificacao {
    0% {transform: translateY(100px);}
    25% {transform: translateY(0);}
    75% {transform: translateY(0);}
    100% {transform: translateY(100px)};
}
@media(max-width: 650px){
    /* Primeiro modal */
    .img-input-cima-baixo{
        display: block;
        text-align: center;
    }
    .input-modal {
        width: 76px;
    }
    .input-modal-descricao {
        width: 260px;
        margin: 15px 0px 0px 30px;
    }
    .input-modal-nome {
        width: 260px;
        text-align: initial;
        margin-left: 20px;
    }
    .img-input-lado-lado {
        display: flex;
        margin: 15px 10px 0px 10px;
    }
    .input-tudo-junto {
        margin: 5px 5px 0px 10px;
    }
    /* Segundo modal */
    .img-input-cima-baixo-edita {
        display: block;
        text-align: center;
    }
    .input-modal-descricao-edita {
        width: 295px;
        margin-left: 10px;
    }
    .img-input-lado-lado-edita {
        display: block;
        margin: 5px 5px 5px 0px;
    }
    .input-modal-nome-edita {
        width: 295px;
        margin-left: 10px;
        text-align: initial;
    }
    .alinha-codigo {
        display: flex;
        margin: 0px 0px 0px 5px;
    }
    .alinha-input-preco-qtde {
        display: flex;
        justify-content: space-around;
    }
    .alinha-input-entrada-saida-estoque{
        display: flex;
        justify-content: center;    
    }
    .btn-modal-edita {
        display: flex;
        justify-content: flex-end;
        margin: 10px 10px 20px 0px;
    }
    .lista-produtos {
        max-width: 1055px;
        margin: 0px 0px 0px 35px;
    }
}

