/* RESET */
* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body, html{
    width: 100%;
    height: 100%;
}
.img{
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    cursor: pointer;
}
input {
    border-bottom: solid 1px #707070;
    font-size: 18px;
    width: 100%;
}
input:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}
button {
    cursor: pointer;
}
ul {
    list-style:none;
}
/* CONTEÚDO */
.conteudo {
    width: 100%;
    height: 100%;
    /* padding: 60px 0 0 200px; */
    padding: 60px 60px 0px 225px;
}
.conteudo-produtos{
    width: 100%;
    height: 100%;
    margin: 50px 0 0 70px;
    padding: 0px 210px;
}
.conteudo h1 {
    color: #445760;
    padding: 30px 0 0 50px;
}
.separador {
    width: 90%;
    background: #445760;
    height: 1px;
    margin: 15px auto;
}
.conteudoUsuarios {
    max-width: 1055px;
    /* margin: 0 auto; */
}
.opcoes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.notificacoes {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 3;
    transform: translateY(100px);
    animation: mostraNotificacao 6s;
}
.filtro {
    display: flex;
    margin-left: 5%;
}
.filtro h2{
    font-size: 20px;
    font-weight: normal;
    color: #445760;
    text-align: center;
}
.filtro input {
    width: 100px;
    height: 24px;
    margin-left: 15px;
    border: 1px solid #707070;
}
/* TABELA */
.tabela {
    width: 90%;
    max-width: 1055px;
    border-radius: 5px;
    border-spacing: 0;
    margin: 20px auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    position: relative;
    border: 1px solid rgba(0,0,0,.12);
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    background-color: #fff;
}
.tabela thead {
    padding-bottom: 3px;
}
.tamanho-div-titulo{
    max-width: 1055px;
}
.tabela th {
    text-align: left;
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0,0,0,.54);
    padding-bottom: 8px;
    box-sizing: border-box;
    padding: 0 18px 12px 18px;
}
.tabela tr {
    position: relative;
    height: 48px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: background-color;
}
.tabela td {
    position: relative;
    height: 48px;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 12px 18px;
    box-sizing: border-box;
    vertical-align: middle;
    white-space: normal;
}
.tabela td:first-of-type, .tabela th:first-of-type {
    padding-left: 24px;
}
.tabela td:last-of-type, .tabela th:last-of-type {
    padding-right: 24px;
}
.tabela tbody tr:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}
.tabela i {
    margin-top: 10px;
}
/* Loading de espera */
.loop-usuario{
    width: 100%;
    height: 100%;
    background-color: #707070;
    opacity: 0.7;
    position: fixed;
    z-index: 4;
    display: none;
    align-items: center;
    justify-content: center;
}
.loader-usuario {
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00a597;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader {
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00a597;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.lista-produtos {
    max-width: 1055px;
    margin: 0px 0px 0px 65px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.inputFiltro {
    font-size: 15px;
    padding: 3px 3px;
}
.removeArrowSelect{
    color: gray;
    border-bottom: solid 1px #707070;
    -webkit-appearance: none;
}
.deleteHover:hover{
    color: red;
}
.paginacao {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 5% 20px 0;
    max-width: 950px;
}
#btnVoltar {
    cursor: pointer;
}
#btnProx {
    cursor: pointer;
}
#itensPagina {
    margin-right: 6px;
}
#btnLimparFiltro{
    margin: 0;
}
#btnNovoUsuarioMini {
    margin: 0 5%;
    display: none;
}
.container-btn{
    display: block;
    width: 100%;
}
.espaco{
    padding-bottom: 10px;
}
/* MODAL */
#cadastroModal {
    display: none;
}

/* MODAL CADASTRO */
.cadastro {
    max-width: 900px;
    top: 0;
    margin: 100px auto;
    z-index: 1;
    overflow: auto;
    background-color: #fff;
    padding: 30px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    border-radius: 5px;
}
.excluir{
    padding: 25px 35px;
}
.cadastro input[type="text"], input[type="password"], input[type="email"] {
    margin: 5px 0 20px 0;
    width: 390px;
}
.cadastro select {
    border-bottom: solid 1px #707070;
    font-size: 18px;
    width: 100%;
    color: #707070;
    width: 390px;
}
.cadastro h1{
    text-align: center;
    margin-bottom: 20px;
}
.avisoCadastro {
    color:#04BD04;
    font-size: 15px;
}
#avisoEmail {
    color: red;
}
.alinha-barra-pesquisa{
    position: absolute;
    width: 80%;
    font-size: 14px;
    padding: 3px 3px;
    margin: 10px 0 0 15px;
}
@media (max-width: 600px) {
    table{
        display: block; 
        width: auto; 
        overflow-x: auto; 
        white-space: nowrap;
    }
    .cadastro {
        max-width: 90%;
        padding: 20px 30px;
        margin: 30px auto;
    }
    #welcome, .logo {
        display: none;
    }
    .menu {
        width: 50px;
    }
    .menu h2 {
        display: none;
    }
    .menuTitle h2 {
        display: none;
    }
    .btnMenu {
        position: static;
        margin: 12px 0 0 0;
    }
    .conteudo {
        padding: 60px 0 0 50px;
    }
    .conteudo-produtos {
        padding: 60px 60px 0px 225px;
    }
    #iconeUsuarios {
        margin: 0 20px;
    }
}
@media (max-width: 475px) {
    #btnNovoUsuario {
        display: none;
    }
    #btnNovoUsuarioMini {
        display: block;
        border-radius: 25px;
        width: 48px;
        height: 48px;
    }
    .cadastro input[type="text"], input[type="password"], input[type="email"] {
        width: auto;
    }
    .cadastro select {
        width: auto;
    }
    .lista-produtos {
        max-width: 1055px;
        margin: 0px 0px 0px 10px;
    }
    .alinha-barra-pesquisa{
        width: 135px;
    }
}
@media (max-width: 420px) {
    #filtroTabelaUsuario {
        width: 140px;
    }
}
@media(max-width: 350px){
    .conteudo{
        padding: 60px 20px 0px 10px;
    }
    .tamanho-div-titulo {
        max-width: 300px;
        margin-left: 35px;
    }
    .lista-produtos {
        max-width: 1055px;
        margin: 0px 0px 0px 30px;
    }
}
@keyframes mostraNotificacao {
    0% {transform: translateY(100px);}
    25% {transform: translateY(0);}
    75% {transform: translateY(0);}
    100% {transform: translateY(100px)};
}